.dataTables_wrapper {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    tr th:first-child,
    tr td:first-child,
    .dataTables_info,
    .dataTables_length {
        padding-left: 25px;
    }

    tr th:last-child,
    tr td:last-child,
    .dataTables_paginate,
    .dataTables_filter {
        padding-right: 25px;
    }
}

.modularity-mod-table {
    margin-bottom: 30px;
}
