.is-child-theme.error404 {
  // #wrapper {
  //   background-color: $green;
  // }

  .overflow-hidden {
    overflow: hidden;
  }

  .stripe {
    display: none;
  }

  .logotype {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

    svg,
    img {
      z-index: 100;
      position: relative;
      transition: all 100ms;
      width: 100%;
      height: inherit;
    }

    svg path {
      stroke: #fff !important;
      transition: fill 300ms, stroke 300ms;

      &.solid-form {
        fill: #fff !important;
      }
    }
  }

  h2 {
    font-size: 6em;
    margin: 10px 0;

    em {
      display: block;
      font-weight: 200;
      font-size: 0.5em;
      line-height: 1.2;
      margin-top: 0.3em;
    }

    &:before {
      display: none;
    }
  }

  h2,
  div.detailed {
    position: relative;
    background-color: $yellow;
    color: $black;
    padding: 60px 40px;

    line-height: 1;

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: -10px;
      right: -10px;
      height: 40px;
      transform: rotate(2deg);
      background-color: inherit;
    }

    &:after {
      bottom: -10px;
    }

    &:before {
      top: -10px;
    }
  }

  div.detailed {
    padding-top: 10px;
  }

  .actions,
  .detailed {
    margin-top: 30px;
  }

  .actions {
    margin-bottom: 30px;
    a {
      color: $black;
    }
  }
}
