#wrapper {
    position: relative;
    background: #fff;
}

&:not(.home) {
    #wrapper {
        @media screen and (min-width: #{$screen-lg-max}) {
            padding-top: 69px;
        }
        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            padding-top: 105px;
        }

        @media screen and (max-width: #{$screen-lg-min}) {
            padding-top: 49px;
        }
    }
}

/* Default */
&{

    .logotype:before {
        background-color: rgba(118, 210, 182,.9) !important;
    }

    .navbar,
    footer.main-footer {
        background-color: rgb(118, 210, 182);
    }

    header#site-header:after {
        background-color: rgb(118, 210, 182);
    }
}

/* Yellow theme */
&.boost-yellow {

}

/* Pink theme */
&.boost-pink {
    .navbar {
        background-color: rgb(218,72,126);
    }
}
