#wrapper {
    position: relative;
    background: #fff;
}

&:not(.home) {
    #wrapper {
        @media screen and (min-width: #{$screen-lg-max}) {
            padding-top: 80px;
            #main-content {
                padding-bottom: 100px;
            }
        }
        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            padding-top: 80px;
            #main-content {
                padding-bottom: 80px;
            }
        }

        @media screen and (max-width: #{$screen-lg-min}) {
            padding-top: 80px;

            #main-content {
                padding-bottom: 80px;
            }
        }

        @media screen and (max-width: #{$screen-md-min}) {
            padding-top: 60px;

            #main-content {
                padding-bottom: 60px;
            }
        }
    }
}

&.home {
    #main-content section.creamy-border-bottom.creamy {

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    border-bottom: 2px solid rgba(map-get($color, default),.2);
                }
            }
        }

        padding-bottom: 20px;
    }
}

#wrapper #translate {
    position: fixed;
    opacity: 0;
    bottom: -1000px;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(255,255,255,.95);
    transition: all 400ms cubic-bezier(.41,.405,.065,.99);
    z-index: 9999;

    // Color theme styles
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .custom-color-#{$theme} & {
                border-top: 2px solid lighten(map-get($color, default),10%);
            }
        }
    }

    &:target {
        bottom: 0;
        opacity: 1;
    }
}
