main#main-content {

    article {
        blockquote {
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        border-color: map-get($color, subtile);
                    }
                }
            }

            &:after,&:before {
                @if ($includeThemes == true) {
                    @each $theme, $color in $themes {
                        .custom-color-#{$theme} & {
                            color: map-get($color, default);
                        }
                    }
                }
            }
        }
    }
}


.main-container > .grid:not(.breadcrumbs-wrapper):not(.no-margin-top):first-child:before {
    content: "";
    position: relative;
    height: 60px;
    display: block;

    @media screen and (max-width: 960px) {
        height: 20px;
    }
}

