footer.main-footer {
  margin-top: 0;
  overflow: hidden;
  background-color: $black;
  border-top: none;
  box-shadow: none;
  color: $white;

  .sidebar-footer-area {

    @media screen and (max-width: #{$screen-lg-min}) {
      div[class*="grid-"] + div[class*="grid-"] {
        margin-top: 40px;
      }
    }

  }
  .textwidget.custom-html-widget {
    padding: 0;
  }
  
  .widget_text,
  .widget_search,
  .WP_Editor_Widget,
  .widget_custom_html {
    color: $white;
    form {
      font-size: inherit;
      padding: 0;

      input[type="search"]::placeholder,
      input[type="text"]::placeholder,
      input[type="email"]::placeholder,
      input[type="date"]::placeholder {
        color: $white;
      }
    }
  }

  @media screen and (max-width: #{$screen-md-min}) {
    .logotype {
      display: none !important;
    }
  }

  .logotype img,
  .logotype svg {
    height: 40px;
    transform: rotate(0) scale(0.9);
    transform-origin: 20% 40%;
    transition: 200ms all;

    path.solid-form {
      fill: #fff;
    }

    path {
      stroke: #fff;
    }

    &:hover {
      .solid-form {
        opacity: 0.7;
      }

      transform: rotate(-1deg) scale(1);
    }
  }

  .footer-title {
    border-bottom: 4px solid $yellow;
    color: $text-color-on-dark-bg;
    display: block;
    font-family: $boost-font-family;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .box,
  [class^="widget_"]:not(.widget_calendar) {
    margin-bottom: 30px;
  }

  ul.icons-list {
    text-align: right;

    @media screen and (max-width: #{$screen-md-min}) {
      text-align: center;
    }

    li {
      padding: 0;
    }

    li a {
      display: inline-block;
      font-size: 2em;
      position: relative;
      text-align: center;
      width: 50px;
      height: 50px;
      color: $white;

      i.fa {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        background-color: $white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 1px;
        top: -22%;
        z-index: 0;
        transform: scale(0);
        transform-origin: center center;
        transition: transform 300ms;
      }

      &:hover {
        color: $black;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }

  .company-logos {
    .logo {
      display: inline-block;
      margin-top: -25px;
      height: 80px;
    }

    .logo + .logo {
      margin-left: 20px;
    }
    @media screen and (max-width: #{$screen-md-min}) {
      margin-bottom: 40px;
      text-align: center;
      .logo {
        margin: 0 auto;
        max-width: 25%;
      }
    }
  }

  .container {
    position: relative;

    .grid {
      position: relative;
      z-index: 99;

      .menu-footer-container {
        a {
          color: $text-color-on-dark-bg;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn.btn-primary {
        background-color: $yellow; 
        color: $black;
        border: none;
        padding: 0 20px;
      }
    }
  }
}

