
    footer.main-footer {
        margin-top: 0;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    background-color: map-get($color, medium);
                }
            }
        }

        @media screen and (max-width: #{$screen-md-min}) {
            .logotype {
                display: none !important;
            }

            .sidebar-footer-area + .grid-table > div {
                display: block;
            }
        }

        &.main-footer .logotype img,
        &.main-footer .logotype svg {
            height: 40px;
            transform: rotate(0) scale(.9);
            transform-origin: 20% 40%;
            transition: 200ms all;

            path.solid-form {
                fill: #fff;
            }

            path {
                stroke: #fff;
            }

            &:hover {
                .solid-form {
                    opacity: .7;
                }

                transform: rotate(-1deg) scale(1);
            }
        }

        .footer-title {
            font-size: 1.4em;
            font-weight: bold;
            color: #fff;
            display: block;
            border-bottom: 3px solid #fff;
            padding-bottom: 0;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .box, [class^=widget_]:not(.widget_calendar) {
            margin-bottom: 30px;
        }

        ul.icons-list {
            text-align: right;

            @media screen and (max-width: #{$screen-md-min}) {
                text-align: center;
            }

            li:last-child {
                padding-right: 0;
            }

            li a {
                font-size: 1.4em;
            }
        }

    }
