.search-top {
  position: relative;
  z-index: 9999;
  padding: 20px 0;

  form {
    label {
      display: none;
    }
  }
}

#site-header {
  display: table;
  position: fixed;
  z-index: 200;
  width: 100%;
  padding-top: 0;
  font-family: $boost-font-family;
  letter-spacing: 0.02em;
  text-rendering: geometricPrecision !important;
  background: $black;

  @media screen and (min-width: #{$screen-lg-min}) {
    overflow: hidden;
  }

  @media screen and (max-width: #{$screen-md-min}) {
    height: 60px;
  }

  nav.navbar {
    background-color: $yellow;
  }

  // Header logo
  &.site-header.header-casual {
    background-color: $black;

    .menu-trigger .menu-icon {
      background-color: $black ;
      &::after,
      &::before {
        background-color: $black;
      }
    }

    .menu-trigger.open .menu-icon {
      background: none;
    }
  }

  .logotype {
    z-index: 800;
    position: relative;
    padding: 18px 0;

    svg,
    img {
      position: relative;
      transition: all 100ms;
      height: 50px;
      width: auto;
      z-index: 100;

      // Mobile
      @media screen and (max-width: #{$screen-md-min}) {
        height: 30px;
      }

      // Desktop
      &:hover {
        @media screen and (min-width: #{$screen-md-max}) {
          transform: rotate(-3deg) scale(1.1);
        }
      }
    }

    @media screen and (max-width: #{$screen-lg-min}) {
      &:before {
        display: none !important;
      }
    }
  }
}

#site-header.liquid-header,
&:not(.home) #site-header,
&.menu-open #site-header,
&.no-js #site-header {
  background-color: $black; 
}

.site-header.header-casual .navbar.navbar-mainmenu {
  background-color: transparent;
  padding: 15px 0;

  .current-page-ancestor a::after,
  .current_page_item a::after {
    display: none;
  }
}
