.search-top {
    padding: 20px 0;

    form {
        label {
            display: none;
        }
    }
}

#site-header {
    display: table;
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    font-family: $dunkers-font-family;
    background-color: rgba(0,0,0,.4);
    overflow: hidden;

    nav.navbar {
        background-color: transparent;
        transition: padding 200ms;
    }

    nav.navbar svg {
        opacity: 1;
        fill: #fff;
    }

    .logotype {
        transition: opacity 300ms;
        z-index: 800;
        position: relative;

        svg, img {
            height: 50px;
            z-index: 100;
            position: relative;
            transform: rotate(0) scale(.9);
            transition: all 100ms;

            &:hover {
                transform: rotate(-3deg) scale(1);
            }
        }

        svg path {
            stroke: #fff !important;
            transition: fill 300ms, stroke 300ms;

            &.solid-form {
                fill: #fff !important;
            }
        }

        &:before {
            z-index: 99;
            right: 200%;
            transition: 500ms all ease-in-out;
            content: "";
            top: 0;
            background: #000;
            display: block;
            position: absolute;
            transform: rotate(37deg) translate(-50%, -50%);
            height: 1060px;
            width: 1000px;
            opacity: 0;
        }

    }

}

#site-header.liquid-header,
&:not(.home) #site-header,
&.menu-open #site-header,
&.no-js #site-header {

    background-color: hsla(0,0%,98%,0.9);

    &:after {
        width: 100%;
    }

    .logotype {
        svg path {
            stroke: #fff !important;
            &.solid-form {
                fill: #fff !important;
            }
        }

        &:before {
            right: -170px;
            opacity: 1;
        }
    }

    nav.navbar svg.hbg-icon {
        opacity: 1;
        fill: $black;
    }

}

&.home .navbar {
    background-color: transparent;
    padding: 15px 0;

    .current-page-ancestor a::after,
    .current_page_item a::after {
        display: none;
    }
}
