@media screen and (min-width: #{$screen-md-min}) {

  //Hide to be animated elements
  main [class^="modularity-mod-"] [class^="grid-"], .social-feed > li, .sidebar-footer-area > [class^="grid-"], .modularity-mod-table .box-panel, div:not(.hero) > .modularity-mod-slider .slider, .modularity-mod-inlaylist > .box-panel, .modularity-mod-iframe > iframe, .modularity-mod-contact > .box-card {
    visibility: hidden;
  }

  .animated {
    animation-duration: 700ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.410, 0.405, 0.065, 0.990);
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 70%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fadeInUp {
    animation-name: fadeInUp;
  }

}
