.nav-aside {
    background-color: #fff;
    border: none;

    li + li {
        border-top: 1px solid #eee;
    }

    > li > a {
        padding: 5px 10px;
        font-family: $boost-font-family;
        font-size: 1em;

        font-weight: bold;
        letter-spacing: .5px;
        transition: background-color 200ms cubic-bezier(0.410, 0.405, 0.065, 0.990);
        position: relative;
        border: none;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    color: map-get($color, dark);
                }
            }
        }

        &:hover:before {
            opacity: 1;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            opacity: 0;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        background-color: map-get($color, default);
                    }
                }
            }
        }
    }

    .current,
    .current-node {
        background-color: transparent;

        &.has-children > a::after {
            @include hbg-icon('\f107');
            font-size: 1.4em;
            top: 10px;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        color: map-get($color, default);
                    }
                }
            }
        }

        a:before {
            display: none;
        }
    }

    .has-children > a::after,
    .page_item_has_children > a::after {
        top: 12px;
        right: 15px;
    }

    .children,
    .sub-menu {
        display: none;
        background-color: lighten($black, 10%);
        border: none;

        .current > a {
            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        color: map-get($color, default) !important;
                    }
                }
            }
        }

        li + li {
            border-top: 1px solid $black;
        }

        li:last-child a {
            padding: 5px 15px 7px;
        }

        a {
            color: #fff;
            padding: 7px 15px;

            &:hover {
                background-color: lighten($black, 13%);
            }
        }

        ul {
            a {
                padding-left: 25px !important;
            }
        }
    }

    .current > .sub-menu,
    .current-node > .sub-menu {
        display: block;
    }
}
