.nav-aside {
    background-color: #fff;
    border: none;

    li + li {
        border-top: 1px solid #eee;
    }

    > li > a {
        padding: 5px 10px;
        font-family: $dunkers-font-family;
        font-size: 1em;
        color: $green-dark;
        font-weight: bold;
        letter-spacing: .5px;
        transition: background-color 200ms cubic-bezier(0.410, 0.405, 0.065, 0.990);
        position: relative;
        border: none;

        &:hover:before {
            opacity: 1;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            background-color: $green;
            opacity: 0;
        }
    }

    .current,
    .current-node {
        background-color: transparent;

        &.has-children > a::after {
            @include hbg-icon('\f107');
            font-size: 1.4em;
            color: $green;
            top: 10px;
        }

        a:before {
            display: none;
        }
    }

    .has-children > a::after,
    .page_item_has_children > a::after {
        top: 12px;
        right: 15px;
    }

    .children,
    .sub-menu {
        display: none;
        background-color: lighten($black, 10%);
        border: none;

        .current > a {
            color: $green !important;
        }

        li + li {
            border-top: 1px solid $black;
        }

        li:last-child a {
            padding: 5px 15px 7px;
        }

        a {
            color: #fff;
            padding: 7px 15px;

            &:hover {
                background-color: lighten($black, 13%);
            }
        }

        ul {
            a {
                padding-left: 25px !important;
            }
        }
    }

    .current > .sub-menu,
    .current-node > .sub-menu {
        display: block;
    }
}
