.menu-trigger[data-target="#mobile-menu"] {
    &::after {
        display: block;
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        @include center();

        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: #fff;

        transition: 400ms all ease-in-out;

        min-width: 0;
        min-height: 0;
    }

    &.open {
        z-index: 91;

        .menu-icon {
            z-index: 91;
        }

    }
}

#site-header.liquid-header,
&:not(.home) #site-header,
&.menu-open #site-header {
    .menu-trigger.open {
        .menu-icon {
            background-color: transparent;
        }
    }
}

&.mobile-menu-open #site-header {
    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .custom-color-#{$theme} & {
                background-color: rgba(map-get($color, dark),.94);
            }
        }
    }
}

.nav-mobile-menu {
    @include cover();
    top: 60px;
    position: fixed;
    z-index: 99;
    text-align: center;
    overflow: auto;
    transition: opacity 200ms cubic-bezier(0.410, 0.405, 0.065, 0.990);
    opacity: 0;

    backdrop-filter: blur(2px);
    -o-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    @media screen and (min-width: #{$screen-md-min}) {
        top: 80px;
    }

    &.open {
        opacity: 1;
    }

    @if ($includeThemes == true) {
        @each $theme, $color in $themes {
            .custom-color-#{$theme} & {
                background-color: rgba(map-get($color, dark),.95);
                border-top: 1px solid rgba(map-get($color, default),.9);
            }
        }
    }
}

.nav-mobile {
    background: transparent;
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;

    > li a {
        padding: 6px 0;
    }

    > li + li {
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    border-top: 1px solid rgba(lighten(map-get($color, default),20%),.2) !important;
                }
            }
        }
    }

    a {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.1em;
        font-weight: normal;

        &:hover {
            background-color: transparent;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        color: lighten(map-get($color, default),20%) !important;
                    }
                }
            }
        }
    }

    .sub-menu {
        border: none;
        padding: 0 0 1em .5em;

        li {
            font-size: .9em;
            a {
                display: block;
                padding: .2em 0;

                @if ($includeThemes == true) {
                    @each $theme, $color in $themes {
                        .custom-color-#{$theme} & {
                            color: lighten(map-get($color, default),20%) !important;
                        }
                    }
                }
            }
        }
    }

    .current {
        background-color: transparent;
        text-decoration: underline;

        > a:after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            float: right;
            margin-top: 7px;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .custom-color-#{$theme} & {
                        background-color: lighten(map-get($color, default),20%) !important;
                    }
                }
            }
        }
    }
}

.nav-mobile-menu .search {
    margin: 20px;
    background-color: transparent;

    input[type="search"] {
        color: #fff;

        &::placeholder {
            color: #fff;
        }

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    background-color: map-get($color, dark) !important;
                }
            }
        }
    }

    input[type="submit"] {

        border: 1px solid #fff;
        border-left: none;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .custom-color-#{$theme} & {
                    background-color: map-get($color, dark) !important;
                }
            }
        }
    }

    label {
        display: none;
    }
}
