//
// @name Pagination
// @description Standard pagination.
//
// @page Navigation/Pagination
//
// @state .current - The currently active page number
//
// @markup
// <ul class="pagination">
//     <li><a class="previous" href="#">&laquo; Previous</a></li>
//     <li><a class="page" href="#">1</a></li>
//     <li class="ellipsis"></li>
//     <li><a class="page" href="#">2</a></li>
//     <li><a class="page current" href="#">3</a></li>
//     <li><a class="page" href="#">4</a></li>
//     <li class="ellipsis"></li>
//     <li><a class="page" href="#">15</a></li>
//     <li><a class="next" href="#">Next &raquo;</a></li>
// </ul>
//

.pagination,
.page-numbers {
  $page-size: 35px;
  font-size: 0;

  li {
    display: inline-block;

    & + li {
      margin-left: 5px;
    }
  }

  a,
  .current {
    display: block;

    @if ($includeThemes == true) {
      @each $theme, $color in $themes {
        .custom-color-#{$theme} & {
          border: 2px solid map-get($color, dark);
        }
      }
    }

    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
    color: $black;
    padding-left: 12px;
    padding-right: 12px;

    height: $page-size;
    line-height: $page-size - 3;

    transition: 100ms all;

    &:hover,
    &:focus,
    &.current {
      color: #fff;
      text-decoration: none;

      @if ($includeThemes == true) {
        @each $theme, $color in $themes {
          .custom-color-#{$theme} & {
            background-color: map-get($color, dark);
            border-color: map-get($color, dark);
          }
        }
      }
    }
  }

  a:not(.next):not(.prev) {
    width: $page-size;
    height: $page-size;
    line-height: $page-size - 3;
    padding: 0;
  }

  .ellipsis {
    &:after {
      content: "…";
      display: inline-block;
    }
  }

  .dots {
    display: block;
    font-size: 0.85em;
  }
}
