.modularity-mod-posts [data-equal-container] > [class*="grid-"] {
  display: block;
}

.box.box-news,
.box.box-filled,
.box.box-card {
  padding: 5px 10px;
  margin-bottom: 30px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

.box.box-filled,
.box.box-card,
.box-news:not(.box-news-horizontal) {
  // Color theme styles
  @if ($includeThemes == true) {
    @each $theme, $color in $themes {
      .custom-color-#{$theme} & {
        background-color: map-get($color, dark);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  .link-item-light {
    color: $text-color-on-dark-bg;
  }

  .box-title {
    padding: 15px 15px 7px 15px !important;
  }

  .box-content {
    padding: 7px 15px 15px 15px;
    // backdrop-filter: blur(2px);
    // -o-backdrop-filter: blur(2px);
    // -ms-backdrop-filter: blur(2px);
    // -moz-backdrop-filter: blur(2px);
    // -webkit-backdrop-filter: blur(2px);
  }

  .box-image-container {
    position: absolute;
    @include cover();
  }
}
