
.box.box-border {
  border: 4px solid $black;
}

.box.box-news,
.box.box-filled,
.box.box-card {
  padding: 5px 10px;
  margin-bottom: 30px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

.box.box-filled,
.box.box-card,
.box-news:not(.box-news-horizontal) {
  padding: 0;

  .box-title,
  .box-content {
    padding: 32px;
  }
}
