.box-event {
  $animation-speed: 300ms;
  $lead-height: 70%;

  position: relative;
  display: block;
  height: 400px;
  padding: 0;
  overflow: hidden;
  margin-bottom: 30px;
  background: $black;

  .box-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: $animation-speed all ease-in-out;

    img {
      display: none;
    }

    &:before {
      content: "";
      transition: $animation-speed all ease-in-out;
      position: absolute;
      left: -50px;
      right: -50px;
      bottom: -100px;
      transform: rotate(5deg);
      height: 220px;
      background-color: $yellow;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      content: "";
    }
  }

  .event-information {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 15px 20px;
    transition: $animation-speed all ease-in-out;
  }

  .event-title {
    font-weight: bold;
    color: $black;
    font-size: 1.5rem;
    text-transform: none;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .event-date-start {
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    color: $black;
  }

  .event-lead {
    opacity: 0;
    padding: 0 20px 0 20px;
    transition: $animation-speed all ease-in-out;
    font-size: 0.9em;
    color: #fff;
    height: $lead-height;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      content: "";
    }
  }

  .event-action {
    opacity: 0;
    transition: 300ms opacity ease-in-out, 100ms background-color;
    border: 4px solid $black;
    padding: 20px 36px;
    background-color: transparent;
    color: $black;
    text-transform: uppercase;
    @include center();
    font-weight: bold;
  }

  &:hover {
    .box-image:before {
      height: 800px;

      backdrop-filter: blur(2px);
      -o-backdrop-filter: blur(2px);
      -ms-backdrop-filter: blur(2px);
      -moz-backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);

      $background-color: $yellow;
    }

    .event-information {
      transform: translateY($lead-height);
      opacity: 0;
    }

    .event-lead {
      opacity: 0;
    }

    .event-action {
      display: block;
      opacity: 1;
    }
  }
}
