.box-index {
  margin-bottom: 30px;
  border: 4px solid $yellow;
  background: $yellow;
  transition: 200ms all;

  &:hover {
    border-color: $black;
    background-color: $yellow;
  }

  .box-content {
    padding: 25px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
    margin-bottom: 5px;
    line-height: 130%;
    left: 0;
    text-transform: uppercase;
    font-weight: bold;

    &:before {
      display: none;
    }
  }

  &:focus {
    text-decoration: none;
  }
}
