.box-news:not(.box-news-horizontal) {
    position: relative;
    background-color: #fff;
    color: #999;
    text-align: center;
    padding: 0;
    border: none;
    margin-bottom: 30px;
    padding-top: (300 / 400) * 100%;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        font-size: 1.3em;
        color: #fff;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        filter: grayscale(0);
        transition: filter 800ms cubic-bezier(0.410, 0.405, 0.065, 0.990);
        position: absolute;
        top: 0;
        left: 0;
    }

    .box-content {
        @include cover();
        background-color: rgba(#000,.3);
        padding-top: 0;
        transition: background-color 400ms cubic-bezier(0.410, 0.405, 0.065, 0.990);

        h1, h2, h3, h4, h5 {
            @include center();
            width: 90%;

            &:before {
                display: none;
            }
        }

        p {
            color: #fff;
            text-align: center;

            &:first-of-type {
                padding: 0 10px 15px 10px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            time {
                font-size: .9em;
            }

            &:empty {
                display: none;
            }

            &:not(:first-of-type) {
                @include center();
                width: 70%;
                padding-top: 30%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }

    &:hover {
        text-decoration: none;

        .box-content {
            text-decoration: none;
            background-color: rgba($green-dark,.6);
        }
        img {
            filter: grayscale(30%);
        }
    }
}

.box-news.box-news-horizontal {
    text-align: left;
}
