.box-panel.box-panel-primary, 
.box-panel.box-panel-secondary {
  .box-title {
    border-color: $black;
    color: #000;

    &:empty {
      padding: 0 !important;
    }
  }
  .box-content {
    border:none;
    padding-left: 0;
    padding-right: 0;
  }

  ul {
    li {
      a,
      a .link-item:before {
        color: $black;
      }

      time {
        color: $black;
      }
    }
  }
}
