
    .box-panel {
        .box-title {
            border-bottom-color: $green;
            color: #000;

            &:empty {
                padding: 0 !important;
            }
        }

        ul {
            li {

                a, a .link-item:before {
                    color: $green-dark;
                }

                time {
                    color: $green-medium;
                }
            }
        }
    }
