.modularity-mod-social {
    .box.box-panel {
        border: none;
        padding: 0;

        .box-title {
            padding: 0;
            background-color: transparent;
        }

        ul.social-feed-instagram, ul.social-feed-pinterest {
            margin: 0 -15px;
            overflow: hidden;
            border: none;
            background-color: none;

            li {
                position: relative;

                a.mod-social-image {
                    width: auto;
                    margin: 15px;
                    padding-bottom: 75% !important;

                    &:after {
                        content: "";
                        @include cover();
                        background-color: rgba(#000,.3);
                        transition: background-color 400ms cubic-bezier(.41,.405,.065,.99);
                    }

                    &:hover:after {
                        background-color: rgba($green-dark,.6);
                    }
                }

                .mod-social-user {
                    z-index: 110;
                    img {
                        transition: all 100ms cubic-bezier(.41,.405,.065,.99);
                        opacity: .95;
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 0;
                        margin-right: 10px;
                        float: left;
                    }

                    span, time {
                        transition: margin-top 100ms cubic-bezier(.41,.405,.065,.99);
                        text-transform: uppercase;
                        margin-top: 7px;
                    }

                }

                &:hover .mod-social-user {
                    img {
                        opacity: 1;
                        width: 80px;
                        height: 80px;
                        margin-right: 15px;
                    }

                    span {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}
