@import "config/colors";
@import "config/icons";
@import "config/typography";
@import "config/grid";
@import "config/themes";

@import "mixin/positioning";
@import "mixin/icon";
@import "mixin/gradient";

@import "layout/typography";
@import "layout/404";

@import "master";

.is-child-theme {

  .grid--columns {
    padding-left: 0;
    padding-right: 0;
  }

  small, .small {
    font-size: 1em !important;
  }

  .grid > [class*="modularity-"] {
    padding-left: 0;
    padding-right: 0;
  }

  @import "layout/base";
  @import "layout/typography";
  @import "layout/header";
  @import "layout/mainmenu";
  @import "layout/footer";
  @import "layout/content";

  @import "typography/headings";

  @import "component/box/box";
  @import "component/box/panel";
  @import "component/box/news";
  @import "component/box/index";
  @import "component/box/filled";
  @import "component/box/card";
  @import "component/hero/hero";
  @import "component/hero/hero-sections";
  @import "component/box/event";
  @import "component/table/datatable";
  @import "component/bubble";
  @import "component/gallery/image-gallery";
  @import "component/share";

  @import "component/navigation/breadcrumb";
  @import "component/navigation/pagination";
  @import "component/navigation/aside";
  @import "component/navigation/mobile";

  @import "component/button/button";

  @import "utility/creamy";
  @import "utility/link-item";
  @import "utility/headings";
  @import "utility/forms";
  @import "utility/label";

  @import "modularity/inheritpost";
  @import "modularity/herosection";
}