$black: #000;
$white: #fff;

$text-color-on-light-bg: $black;
$text-color-on-dark-bg: $white;

$gray: #e0e1e2;
$gray-light: lighten($gray, 10%);
$gray-dark: darken($gray, 8%);

$green: rgb(118, 210, 182);
$green-subtile: rgba($green, 0.2);
$green-light: lighten($green, 5%);
$green-medium: darken($green, 25%);
$green-dark: darken($green, 40%);

$yellow: #fffc00; //Orginal: rgb(252,217,0);
$yellow-subtile: rgba($yellow, 0.2);
$yellow-light: $white;
$yellow-medium: darken($yellow, 10%);
$yellow-dark: $black;

$pink: rgb(218, 72, 126);
$pink-subtile: rgba($pink, 0.2);
$pink-light: lighten($pink, 5%);
$pink-medium: darken($pink, 0%);
$pink-dark: darken($pink, 17%);
