.main-footer {
  overflow: hidden;

  .widget_text,
  .widget_search {
    form {
      font-size: inherit;
      padding: 0;
    }
  }

  .container {
    position: relative;

    .grid {
      position: relative;
      z-index: 99;


      .btn.btn-primary {
        // Color theme styles
        @if ($includeThemes == true) {
          @each $theme, $color in $themes {
            .custom-color-#{$theme} & {
              background-color: map-get($color, default);
              color: $text-color-on-light-bg;
            }
          }
        }
        border: none;
      }
    }
  }
}
