h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $boost-font-family;
    color: $black;
    font-weight: 600;

    strong {
        font-weight: 600;
    }
}

article {

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        font-weight: 600;
        font-family: $boost-font-family;
    }

}

.lead {
    font-weight: bold;
}
