h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-size: $boost-font-family;
    color: $black;

    strong {
        font-weight: 600;
    }
}

article {

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        font-weight: 600;
    }

}

h1, .h1,
h2, .h2,
h3, .h3 {

}


.lead {
    font-weight: bold;
}
